#!/usr/bin/env ruby

compile '/' do
  filter :haml
end

compile '/stylesheets/whole/' do
  # FIXME: Combine related files.
end

compile '/javascripts/whole/' do
  # FIXME: Combine related files.
end




compile '*' do
  next if item.binary?
  next if item[:extension] == 'css'

  filter :erb
  layout 'default'
end

route '/' do
  '/index.html'
end

route '/stylesheets/whole/' do
  '/assets/whole.css'
end

route '/javascripts/whole/' do
  '/assets/whole.js'
end

route '*' do
  if item[:extension]
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier.chop
  end
end

layout '*', :erb
