#!/usr/bin/env ruby

preprocess do
  def items.find_by_identifier(identifier)
    find {|i| i.identifier == identifier} or
      throw ArgumentError.new("No such item with identifier '#{identifier}'")
  end

  root_item = items.find_by_identifier('/')
  items << Nanoc::Item.new(
    root_item.raw_content,
    root_item.attributes.merge({offline_mode: true}),
    '/offline/'
  )
end




compile '/' do
  filter :haml
end

compile '/offline/' do
  filter :haml
end

compile '/stylesheets/app/' do
  filter :sass
end

compile '/stylesheets/whole/' do
  # FIXME: Combine related files.
end

compile '/javascripts/whole/' do
  # FIXME: Combine related files.
end

compile '*' do
  # Copy as is.
end




route '/' do
  '/index.html'
end

route '/offline/' do
  '/offline.html'
end

route '/stylesheets/app/' do
  '/stylesheets/app.css'
end

route '/stylesheets/whole/' do
  '/assets/whole.css'
end

route '/javascripts/whole/' do
  '/assets/whole.js'
end

route '*' do
  item.identifier.chop
end
