!!! 5
%html
  %head
    %title= App::NAME
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %link(rel='stylesheet' href='/stylesheets/app.css' type='text/css')
    %script(src='/javascripts/app.js' type='text/javascript')
  %body

-# __END__
