/* Misc. */

.hidden
{
  display: none;
}

ul.simple
{
  list-style-type: none;
  padding-left: 1em;
}




/* Dropped status */

.card > label
{
  display: block;
}

.dropped.card
{
  color: #999;
  background: #eee;
}




/* Fixed toolbar */

.toolbar,
.toolbar > *
{
  position: fixed !important;
  z-index: 1;
}

.toolbar
{
  width: 100%;
}
