/* Show icons to distinguish external links. */

a[target='_blank']:after
{
  content: '\00a0\f08e';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 80%;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

a.share.button:after
{
  display: none;
}


/* Hide elements regardless of the default rendering type.
 *
 * Especially, $('a').toggle() sets "display: inline;" to show elements,
 * but this value might conflict with a jQuery Moble theme.
 * Use the following class to avoid problems like this.
 */
.unavailable
{
  display: none !important;
}


/* Adjust the size of icons in the navigation bar.
 *
 * There might be a small gap between the navigation bar and the page content.
 * It's hard to remove the gap in portable notation.  The following definition
 * is optimized for iPhone 4S.
 */

[data-id='navigation'][data-role='header'] [data-role='navbar'] .ui-btn-inner
{
  font-size: 2em;
  line-height: 100%;
  padding: 0.25em 0;
}


/* For cards in a supply view. */

.card label
{
  display: block;
  cursor: pointer;
}

.dropped.card
{
  background: #ddd;
  color: #666;
}


/* For the header. */

.disabled.button
{
  color: #666;
}

.ui-header .ui-title
{
  margin-left: 20%;
  margin-right: 20%;
}


/* #configure */

#configure .ui-controlgroup-label
{
  font-weight: bolder;
}

#configure .note
{
  font-size: 80%;
  font-weight: lighter;
}


/* #templates */

#templates
{
  display: none;
}
